APP_ENV=production
BOT_TOKEN=
BOT_OWNER_ID=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_DSN=
ORACLE_WALLET_DIR=/opt/everithing_manager/config/oracle-wallet
REDIS_URL=redis://redis:6379/0
DASHBOARD_SECRET=change-me
DASHBOARD_PUBLIC_URL=http://localhost:8000
DASHBOARD_PORT=8000
